---
pagination:
    data: collections.tagList
    size: 1
    alias: tag
permalink: "/tags/{{ tag | slug }}/"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tags</title>
        <link rel="stylesheet" href="{{ '/css/tailwind-output.css' | url }}" />
    </head>
    <body
        class="bg-gray-100 text-gray-800 font-sans leading-relaxed dark:bg-zinc-900 dark:text-gray-200"
    >
        <header>{% include "nav.html" %}</header>
        <h1>Posts tagged with "{{ tag }}"</h1>

        <ul>
            {% for post in collections.post %} {% if post.data.tags contains tag
            %}
            <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </body>
</html>
